<div class="h-screen">
  <h5 class="text-lg">This is about page</h5>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus
    repellat perspiciatis porro quae incidunt culpa, adipisci veritatis quo
    tempore modi! Illo qui iste corrupti unde ullam est consectetur recusandae
    similique fugiat in at culpa sed voluptatibus molestiae error deleniti
    voluptates dolorem fugit quidem aliquam, earum pariatur! Quod alias dicta
    enim, facere ex et consequuntur corporis sapiente repudiandae voluptates
    quae optio praesentium. Voluptate assumenda quisquam totam? Itaque
    consequatur reiciendis consequuntur perferendis possimus laboriosam libero,
    vel nobis laudantium voluptates quas quia sapiente molestiae dolorum?
    Tempora illo alias velit animi dolores vel, ex, nihil eum impedit beatae
    commodi laboriosam dolorum quo. Nobis fuga, quibusdam dolorum quidem
    molestiae vel illo totam eaque neque dignissimos doloribus ratione earum!
    Consequatur quam in ullam nemo doloribus, modi corrupti rem ab repudiandae
    harum facilis eligendi accusantium fugit dolorum beatae blanditiis eveniet
    sequi fugiat aliquid temporibus expedita dignissimos repellat? Fugit iusto,
    minus voluptatem ea, obcaecati delectus deleniti corporis voluptate eius
    totam quas natus quae a sit itaque nesciunt optio expedita unde. Numquam
    ratione ipsum ducimus eum, nam perspiciatis debitis veritatis eligendi qui
    minus tempore et reiciendis sit vero voluptatibus. Perspiciatis ipsum nihil,
    accusantium ex incidunt, quaerat facere mollitia rem inventore modi, iure
    voluptatibus magni commodi vel repudiandae recusandae! Veritatis.
  </p>
</div>
