<div
  class="relative min-h-60 w-full flex flex-col justify-center items-center my-6 bg-white shadow-sm border border-slate-200 rounded-lg p-2"
>
  <div class="p-3 text-center">
    <div class="flex justify-center mb-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="text-slate-400 w-10 h-10 animate-spin"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 3v2m0 10v2m-4-7h2m10 0h2m-2 4H4m16 0h2m-4-7a9 9 0 1 1-9 9 9 9 0 0 1 9-9z"
        />
      </svg>
    </div>
    <div class="flex justify-center mb-2">
      <h5 class="text-slate-800 text-2xl font-semibold">
        Loading, please wait...
      </h5>
    </div>
  </div>
</div>
