<ng-container *ngIf="characters$ | async as characters; else nodataCard">
  <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-x-12 gap-y-4">
    <div
      *ngFor="let character of characters"
      class="flex flex-col bg-white shadow-sm border border-slate-200 rounded-lg w-96"
    >
      <div
        class="m-2.5 overflow-hidden rounded-md h-80 flex justify-center items-center"
      >
        <img
          class="w-full h-full object-cover"
          [src]="character.image"
          alt="profile-picture"
        />
      </div>
      <div class="p-6 text-center">
        <h4 class="mb-1 text-xl font-semibold text-slate-800">
          {{ character.name }}
        </h4>
        <p class="text-sm font-semibold text-slate-500 uppercase">
          {{ character.status }}
        </p>
        <p class="text-base text-slate-600 mt-4 font-light">
          {{ character.species }}
        </p>
        <p class="text-base text-slate-600 mt-4 font-light">
          {{ character.origin.name }}- {{ character.origin.url }}
        </p>
      </div>
      <div class="flex justify-center p-6 pt-2 gap-7">
        <button
          class="min-w-32 rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          type="button"
        >
          Follow
        </button>
      </div>
    </div>
  </div>
  <div>
    <div class="flex justify-center items-center space-x-2 mt-4">
      <button (click)="handlePrevious()">Previous</button>

      <button>
        {{ totalPages }}
      </button>
      <button>Next</button>
    </div>
  </div>
</ng-container>
<ng-template #nodataCard>
  <div
    class="relative min-h-60 w-full flex flex-col justify-center items-center my-6 bg-white shadow-sm border border-slate-200 rounded-lg p-2"
  >
    <div class="p-3 text-center">
      <div class="flex justify-center mb-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="text-slate-400 w-10 h-10"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125"
          />
        </svg>
      </div>
      <div class="flex justify-center mb-2">
        <h5 class="text-slate-800 text-2xl font-semibold">
          No data sources linked.
        </h5>
      </div>
    </div>
  </div>
</ng-template>
