<ng-container *ngIf="characters$ | async as characters; else nodataCard">
  <div
    *ngFor="let character of characters"
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow"
  >
    <a href="#">
      <img class="rounded-t-lg" [src]="character?.image" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
          {{ character.name }}
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-700">
        {{ character.species }}
      </p>
      <a
        href="#"
        class="inline-flex characters-center px-3 py-2 text-sm font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800"
      >
        Read more
      </a>
    </div>
  </div>
</ng-container>
<ng-template #nodataCard>
  <div
    class="relative min-h-60 w-full flex flex-col justify-center items-center my-6 bg-white shadow-sm border border-slate-200 rounded-lg p-2"
  >
    <div class="p-3 text-center">
      <div class="flex justify-center mb-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="text-slate-400 w-10 h-10"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125"
          />
        </svg>
      </div>
      <div class="flex justify-center mb-2">
        <h5 class="text-slate-800 text-2xl font-semibold">
          No data sources linked.
        </h5>
      </div>
    </div>
  </div>
</ng-template>
