/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  background: #1a1a1a;
  font-family: "Questrial", sans-serif;
  overflow-x: hidden;
  font-weight: 500;
  color: white;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3,
h4 {
  font-family: "Questrial", sans-serif;
  font-style: normal;
  letter-spacing: 1.2px;
}

h1 {
  font-size: 20px;
  font-size: calc(18px + (23 - 18) * ((100vw - 320px) / (2560 - 320)));
  color: #fff;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: calc(30px + (45 - 35) * ((100vw - 320px) / (2560 - 320)));
}
p {
  font-size: 18px;
  line-height: 1.7;
  margin: 10px 0;
  letter-spacing: 1.2px;
}

.green {
  color: #0ff1b3;
}

main,
header {
  width: 1145px;
  height: auto;
  margin: auto;
}
footer {
  width: 100%;
}
.footer-container {
  width: 1145px;
  height: auto;
  margin: auto;
}

@media only screen and (max-width: 1280px) {
  main,
  header {
    width: 968px;
    padding: 2em 0;
  }
  .footer-container {
    width: 968px;
    padding: 2em 0;
  }
}
@media only screen and (max-width: 1024px) {
  main,
  header {
    width: 727px;
    padding: 1em 0;
  }
  .footer-container {
    width: 727px;
    padding: 1em 0;
  }
  h1 {
    line-height: 1.5;
  }
  .hello {
    font-size: 80px;
  }
}
@media only screen and (max-width: 768px) {
  main,
  header,
  .footer-container {
    width: 90%;
    padding: 1em 0;
  }
}
