<footer class="bg-white shadow">
  <div
    class="w-full p-4 md:flex md:items-center md:justify-between footer-container"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2024. All Rights Reserved.
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
    >
      <li>
        <a
          routerLink="about"
          routerLinkActive="router-link-active"
          class="hover:underline me-4 md:me-6"
          >About</a
        >
      </li>

      <li>
        <a
          routerLink="characters"
          routerLinkActive="router-link-active"
          class="hover:underline me-4 md:me-6"
          >characters</a
        >
      </li>
      <li>
        <a
          routerLink="episodes"
          routerLinkActive="router-link-active"
          class="hover:underline"
          >Episodes</a
        >
      </li>
    </ul>
  </div>
</footer>
